{% include 'report_title.jinja2' %}
{% for lesson in report.lessons %}
Дата: {{ lesson.date_ }}
Начало: {{ lesson.time_start }}
Конец: {{ lesson.time_end }}
Предмет: {% if lesson.subject %}{{ lesson.subject.title }}{% else %} {% endif %}
Преподаватель: {% if lesson.teacher %}{{ lesson.teacher.name }}{% else %} {% endif %}
Ссылка: {% if lesson.href %}{{lesson.href}}{% else %} {% endif %}
Примечание: {% if lesson.note %}{{ lesson.note }}{% else %} {% endif %}
{% endfor %}
